.subscription-field {
  max-width: 510px;
  text-align: center;

  &__text {
    margin: 0;
    font-family: Montserrat;
    color: rgba(255, 255, 255, 0.95);
    font-size: 1.3125rem;
    margin-bottom: 27px;
  }

  &__input {
    font-family: Montserrat;
    font-size: 0.75rem;
    color: rgba(0, 0, 0, 0.6);
    border: none;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    border-radius: 16px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    box-sizing: border-box;
    max-width: 354px;
    width: 100%;
    padding: 10px 0 10px 36px;
    margin-right: -4px;
    max-height: 33px;

    @media (min-width: 320px) and (max-width: 414px) {
      max-width: 200px;
    }

    @media (max-width: 320px) {
      max-width: 170px;
    }
  }
}
