@import 'works__item/works__item.scss';

// Slick carousel //
.prev-arrow, .next-arrow {
  position: absolute;
  font-size: 20px;
  color: #999999;
  cursor: pointer;
}

.prev-arrow {
  bottom: 140px;
  left: -25px;
  z-index: 10;
  
  &::before {
    background: white;
    border-radius: 35px;
    padding: 14px 18px 14px 18px;
    box-shadow: 0px 7px 19.8px 3.2px rgba(0, 0, 0, 0.14);
  }
}

.next-arrow {
  bottom: 140px;
  right: -25px;
  z-index: 10;
  
  &::before {
    background: white;
    border-radius: 35px;
    padding: 14px 18px 14px 18px;
    box-shadow: 0px 7px 19.8px 3.2px rgba(0, 0, 0, 0.14);
  }
}