include works__item/works__item

mixin works-slider()

  .works-slider
    +works__item({
      img: 'works-1',
      alt: 'works1',
      sector: 'Web Design',
      title: 'Maria Ferrero Portfolio',
    })
    +works__item({
      img: 'works-1',
      alt: 'works2',
      sector: 'UI/UX, Development',
      title: 'Zikan Mobile App',
    })
    +works__item({
      img: 'works-3',
      alt: 'works3',
      sector: 'UI/UX, Development',
      title: 'Quzica Mobile App',
    })
    +works__item({
      img: 'works-3',
      alt: 'works3',
      sector: 'UI/UX, Development',
      title: 'Quzica Mobile App',
    })