mixin socials()

  ul.socials
    li.socials__item
      a.socials__link(href='#')
        i.socials__icon.fab.fa-behance
    li.socials__item
      a.socials__link(href='#')
        i.socials__icon.fab.fa-dribbble
    li.socials__item
      a.socials__link(href='#')
        i.socials__icon.fab.fa-twitter
    li.socials__item
      a.socials__link(href='#')
        i.socials__icon.fab.fa-github