extends template

include ../blocks/header/header
include ../blocks/socials/socials
include ../blocks/btn/btn
include ../blocks/subscription-field/subscription-field
include ../blocks/features__item/features__item

block content
  +header({
    menuItems: [
          {name: 'Solutions', href: '#'},
          {name: 'Blog', href: '#'},
          {name: 'About', href: '#'},
      ], 
  })
  section.features.container
    h1.features__title Our Features
    .features__list
      +features__item('Domain Expert', 'icon1')
      +features__item('Cost Effective', 'icon2')
      +features__item('Customer Oriented', 'icon3')
      +features__item('Updated Tech Stack', 'icon4')
    .features__btn
      +btn({
        className: 'btn btn_features btn_large',
        label: 'Request a Quote',
        href: '#'
      })
      +btn({
        className: 'btn btn_light btn_large',
        label: 'Learn More',
        href: '#'
      })
  section.metrics
    .metrics__list.container
      .metrics__item
        span.metrics__number 200+
        p.metrics__title Projects
      .metrics__item
        span.metrics__number 32150+
        p.metrics__title Hours
      .metrics__item
        span.metrics__number 80+
        p.metrics__title Awards
  section.clients
    h1.clients__title Our Valuable Clients
    .clients__list.container
      .clients__item
        img(class='clients__img' src='../img/upside_logo.png')
      .clients__item
        img(class='clients__img' src='../img/arrow_logo.svg')
      .clients__item
        img(class='clients__img' src='../img/tm_logo.svg')
      .clients__item
        img(class='clients__img' src='../img/affregato_logo.svg')
      .clients__item
        img(class='clients__img' src='../img/oneshot_logo.svg')
  section.subscription
    +subscription-field('Want weekly newsletter delivered to your inbox?', 'Your Email Address')


