extends template

include ../blocks/header/header
include ../blocks/socials/socials

block content
  +header({
    menuItems: [
          {name: 'Solutions', href: '#'},
          {name: 'Blog', href: '#'},
          {name: 'About', href: '#'},
      ], 
  })
  section.features.container
    h1.features__title Our Features
    .features__list
      .features__item
        img(class='features__icon' src='../img/icon1.png')
        p.features__text Domain Expert
      .features__item
        img(class='features__icon' src='../img/icon2.png')
        p.features__text Cost Effective
      .features__item
        img(class='features__icon features__icon_fixed-height' src='../img/icon3.png')
        p.features__text Customer Oriented
      .features__item
        img(class='features__icon' src='../img/icon4.png')
        p.features__text Updated Tech Stack
      


