extends template

include ../blocks/header/header
include ../blocks/socials/socials
include ../blocks/btn/btn

block content
  +header({
    menuItems: [
          {name: 'Solutions', href: '#'},
          {name: 'Blog', href: '#'},
          {name: 'About', href: '#'},
      ], 
  })
  section.features.container
    h1.features__title Our Features
    .features__list
      .features__item
        img(class='features__icon' src='../img/icon1.png')
        p.features__text Domain Expert
      .features__item
        img(class='features__icon' src='../img/icon2.png')
        p.features__text Cost Effective
      .features__item
        img(class='features__icon features__icon_fixed-height' src='../img/icon3.png')
        p.features__text Customer Oriented
      .features__item
        img(class='features__icon' src='../img/icon4.png')
        p.features__text Updated Tech Stack
    .features__btn
      +btn({
        className: 'btn btn_features btn_large',
        label: 'Request a Quote',
        href: '#'
      })
      +btn({
        className: 'btn btn_light btn_large',
        label: 'Learn More',
        href: '#'
      })
  section.metrics
    .metrics__list.container
      .metrics__item
        span.metrics__number 200+
        p.metrics__title Projects
      .metrics__item
        span.metrics__number 32150+
        p.metrics__title Hours
      .metrics__item
        span.metrics__number 80+
        p.metrics__title Awards
  section.clients
    h1.clients__title Our Valuable Clients
    .clients__list.container
      .clients__item
        img(class='clients__img' src='../img/upside_logo.png')
      .clients__item
        img(class='clients__img' src='../img/arrow_logo.svg')
      .clients__item
        img(class='clients__img' src='../img/tm_logo.svg')
      .clients__item
        img(class='clients__img' src='../img/affregato_logo.svg')
      .clients__item
        img(class='clients__img' src='../img/oneshot_logo.svg')
        
      


