extends template

include ../blocks/header/header
include ../blocks/socials/socials

block content
  +header({
    menuItems: [
          {name: 'Solutions', href: '#'},
          {name: 'Blog', href: '#'},
          {name: 'About', href: '#'},
      ], 
  })


