extends template

include ../blocks/header/header
include ../blocks/socials/socials
include ../blocks/btn/btn
include ../blocks/subscription-field/subscription-field
include ../blocks/features__item/features__item
include ../blocks/metrics__item/metrics__item
include ../blocks/clients__item/clients__item
include ../blocks/footer/footer
include ../blocks/works/works

block content
  +header({
    menuItems: [
          {name: 'Solutions', href: '#'},
          {name: 'Blog', href: '#'},
          {name: 'About', href: '#'},
      ], 
  })
  section.features.container
    h1.features__title.title Our Features
    .features__list
      +features__item('Domain Expert', 'icon1')
      +features__item('Cost Effective', 'icon2')
      +features__item('Customer Oriented', 'icon3')
      +features__item('Updated Tech Stack', 'icon4')
    .features__btn
      +btn({
        className: 'btn btn_features btn_large',
        label: 'Request a Quote',
        href: '#'
      })
      +btn({
        className: 'btn btn_light btn_large',
        label: 'Learn More',
        href: '#'
      })
  section.metrics
    .metrics__list.container
      +metrics__item('200+', 'Projects')
      +metrics__item('32150+', 'Hours')
      +metrics__item('80+', 'Awards')
  section.works
    .works-wrapper.container
      h1.works__title.title Our Works
      +works-slider
  section.clients
    h1.clients__title.title Our Valuable Clients
    .clients__list.container
      +clients__item('upside')
      +clients__item('arrow')
      +clients__item('tm')
      +clients__item('affregato')
      +clients__item('oneshot')
  section.subscription
    +subscription-field('Want weekly newsletter delivered to your inbox?', 'Your Email Address')
  +footer