@import "../blocks/header/header.scss";
@import "../blocks/btn/btn.scss";
@import "../blocks/subscription-field/subscription-field.scss";
@import '../blocks/features__item/features__item.scss';
@import '../blocks/metrics__item/metrics__item.scss';
@import '../blocks/clients__item/clients__item.scss';
@import '../blocks/works/works.scss';
@import '../blocks/footer/footer.scss';

.features {
  margin-top: 70px;
  padding-bottom: 120px;

  &__list {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    margin-bottom: 75px;
  }

  &__btn {
    display: flex;
    justify-content: center;
  }
}

.metrics {
  padding-top: 80px;
  background-color: #5b439c;
  font-family: Montserrat;
  padding-bottom: 70px;

  &__list {
    display: flex;
    justify-content: space-around;
  }

}

.clients {
  margin-top: 110px;
  padding-bottom: 120px;

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 768) {
      justify-content: center;
    }

    // @media (max-width:) {
    //   justify-content: center;
    // }
  }
}

.works {
  padding-top: 70px;
  padding-bottom: 140px;
  background-color: #e5e5e5;
}

.subscription {
  background: #5b439c;
  padding: 72px 0 75px 0;
}
