@import "../btn/btn.scss";

.header {
  background-image: url("../blocks/header/header-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 140px;

  @media (max-width: 652px) {
    padding-bottom: 60px;
  }

  &__logo {
    grid-area: logo;
    margin-right: auto;

    &-link {
      text-decoration: none;
      color: #fff;
      font-family: "Poppins";
      text-transform: lowercase;
      font-size: 2.375rem;
      font-weight: bold;
    }
  }
  &__nav {
    display: grid;
    grid-gap: 6px;
    grid-template-areas:
      "logo menu btn"
      "descr descr descr";
    padding-top: 50px;

    @media (min-width: $screen-md) {
      align-items: center;
    }

    @media (max-width: $screen-sm-max) {
      grid-template-areas:
        "logo burger"
        "descr descr";
    }

    @media (max-width: $screen-md) {
      padding-top: 30px;
    }

    @media (min-width: $screen-xl) {
      grid-template-areas: "logo menu btn";
      grid-template-columns: auto 1fr auto;
      margin-bottom: 158px;
    }
  }
  &__menu {
    grid-area: menu;
    justify-self: end;

    @media (max-width: $screen-xl) {
      justify-self: center;
      padding-top: 5px;
    }

    @media (max-width: 768px) {
      position: fixed;
      top: -150%;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      z-index: 2;
      background-color: #4B2F8E;
      padding: 80px 0 15px 15px;
    }
  }

  &__menu.active {
    top: 0;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}
  &__menu-list {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 7px;
    margin: 0;
    padding: 0;
    list-style: none;
    align-items: baseline;

    @media (min-width: $screen-md) {
      grid-auto-flow: column;
      grid-gap: 22px;
    }

    @media (min-width: $screen-xl) {
      grid-gap: 50px;
    }

    @media (max-width: 768px) {
      display: block;
    }
  }
  &__menu-item {
    text-align: left;

    @media (min-width: $screen-md) {
      text-align: left;
    }

    @media (max-width: 768px) {
      margin-bottom: 15px;
    }
  }
  &__menu-link {
    font-family: Montserrat;
    font-size: 0.75rem;
    text-decoration: none;
    color: #fff;

    @media (max-width: 375px) {
      padding: 0;
    }

    @media (max-width: 768px) {
      font-size: 1.125rem;
    }

    &:hover {
      opacity: 0.8;
    }
  }

  &__burger {
    display: none;
    z-index: 3;

    @media (max-width: 768px) {
      display: block;
      color: #fff;
      cursor: pointer;
      font-size: 16px;
      position: absolute;
      top: 40px;
      right: 40px;
    }

    &-wrap {
      align-self: center;
      grid-area: burger;
    }
  }

  &__description {
    grid-area: descr;
    font-family: Montserrat;
    color: #fff;
    text-align: center;

    &-title {
      margin: 0;
      font-size: 2.25rem;

      @media (max-width: $screen-md) {
        margin-top: 30px;
      }
    }

    &-text {
      text-align: center;
      opacity: 0.6;
      font-size: 1.1875rem;
    }
  }
}

.header__burger.active {

  &::before {
    content: "\f00d";
    transition: all 0.3s ease 0;
    -webkit-transition: all 0.3s ease 0;
    -moz-transition: all 0.3s ease 0;
    -ms-transition: all 0.3s ease 0;
    -o-transition: all 0.3s ease 0;
}
}